*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bahnschrift light';
    box-sizing: border-box;
    transition: .5s all;
}

.h-screen
{
    height: 100vh;
}
.object-fit-cover
{
    object-fit: cover;
}
