*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bahnschrift light';
    box-sizing: border-box;
    transition: .5s all;
}
body
{
    background-color: rgb(245, 244, 244);
}
.h-screen
{
    height: 100vh;
}
.object-fit-cover
{
    object-fit: cover;
}
.fs
{
    font-size: .9rem;
}
.fs-big
{
    font-size: 3.7rem;
}
.bg-melon
{
    background-color: #ff896c;
}
.bg-green
{
    background-color: #2feb67;
}
.bg-purple
{
    background-color: #c955ff;
}
.bg-cyan
{
    background-color: #8855ff;
}
.bg-light-cyan
{
    background-color: #ff89ca;
}
.bg-grey
{
    background-color: #ebebeb;
}
.wh-100
{
    height: 100%;
    width: 100%;
}
.table
{
    border-collapse: separate;
    border-spacing: 0 7px;
}
.table td
{
    padding-top: .7rem;
    background-color: white;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.055);
}
.table td:first-child
{
    padding: .7rem;
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.table td:last-child
{
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
}
.cursor-pointer
{
    cursor: pointer;
}
.mh-table
{
    max-height: 410px;
    overflow: auto;
}
.mh-table2
{
    max-height: 325px;
    overflow: auto;
}
.h-specific
{
    height: 600px;
}
.h-specific2
{
    height: 490px;
}
.h-specific3
{
    height: 300px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.w-max
{
    width: 50px;
}
.w-max-1
{
    width: 30px;
}
.w-max-2
{
    width: 70px;
}
.outline-0
{
    outline: none;
}
.line-height-0
{
    line-height: 0;
}
.w-max-content
{
    width: max-content;
}
.hr-dashed
{
    border-bottom: 2px dashed rgb(70, 70, 70);
    background-color: transparent;
}
.border-dashed
{
    border-bottom: 1px dashed rgb(165, 162, 162);
}